$color-text: #ffffff;
$color-accent: #5AB828;
$color-hover: #4BD700;
$color-focus: #4DA41E;
$color-gray: #BBC6F2;
$color-gray-200: #777B8B;
$color-form-border: #E8EAF0;
$color-form-bg: #F1F3F6;
$color-error: #F91717;
$color-success: $color-accent;
$color-dark: #0F0219;

$font-family:  "Roboto", sans-serif;
